@model IEnumerable<SchoolApp.Models.Teacher>

@{
    ViewData["Title"] = "Teachers";
}

<h1> Teachers </h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeacherName)
            </th>
            <th>
              
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherName)
            </td>
            <td>
               
            </td>
            <td>
                <a class="btn btn-success"  asp-action="Edit" asp-route-id="@item.TeacherId">Edit</a> |
                <a class="btn btn-info"  asp-action="Details" asp-route-id="@item.TeacherId">Details</a> |
                <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.TeacherId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
