@model IEnumerable<SchoolApp.Models.Student>

@{
    ViewData["Title"] = "Students";
}

<h1>Students</h1>
<div>@ViewBag.Test</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <a asp-action="StudentCourseIndex">Student To courses list Ids</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Student Id's
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentId" class="btn btn-success">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentId" class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentId" class="btn btn-danger">Delete</a> |
                <a asp-action="AssignToCourses" asp-route-id="@item.StudentId" class="btn btn-outline-primary">Assign To Courses</a>
            </td>
        </tr>
}
    </tbody>
</table>
